.todoapp {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	
	margin: 0 auto ;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	background: #fff;
	z-index: 1;
	position: relative;
	button {
		margin: 0;
		padding: 0;
		border: 0;
		background: none;
		font-size: 100%;
		vertical-align: baseline;
		font-family: inherit;
		font-weight: inherit;
		color: inherit;
		-webkit-appearance: none;
		appearance: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	:focus {
		outline: 0;
	}
	.hidden {
		display: none;
	}
	.todoapp {
		background: #fff;
		margin: 130px 0 40px 0;
		position: relative;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	}
	.todoapp input::-webkit-input-placeholder {
		font-style: italic;
		font-weight: 300;
		color: #e6e6e6;
	}
	.todoapp input::-moz-placeholder {
		font-style: italic;
		font-weight: 300;
		color: #e6e6e6;
	}
	.todoapp input::input-placeholder {
		font-style: italic;
		font-weight: 300;
		color: #e6e6e6;
	}
	// .todoapp h1 {
	// 	position: absolute;
	// 	top: -155px;
	// 	width: 100%;
	// 	font-size: 100px;
	// 	font-weight: 100;
	// 	text-align: center;
	// 	color: rgba(175, 47, 47, 0.15);
	// 	-webkit-text-rendering: optimizeLegibility;
	// 	-moz-text-rendering: optimizeLegibility;
	// 	text-rendering: optimizeLegibility;
	// }


	//中部
	.app{
		float:left;
		width:100%;

	}
	.app-inner {background-color:#fff}
	.data-shop{padding-bottom: 20px; border:1px solid #C6C6C6;border-top-left-radius: 8px;border-top-right-radius: 8px;margin-bottom: 40px;overflow: hidden;}
	.datashop-top{padding-top: 15px;padding-left: 15px; margin-bottom: 20px; background-color: #F2F8FC;border-top-left-radius: 8px;border-top-right-radius: 8px;}
	.nav-tabs {border-bottom: 1px solid #ddd;margin-top: 0px; margin-bottom: 0px;}
	.data-shop .data-list{padding-left: 15px;}
	.data-shop .data-list .data-box{width: 170px;height: 148px;border: 1px solid #909090; text-align: center;margin-right: 10px;}
	.data-shop .data-list .data-box h4{height: 40px;line-height: 40px;font-size: 18px;letter-spacing: 2px;border-bottom:1px solid #909090;margin:0px;}
	.data-shop .data-list .data-box p{color: #3366CC;font-size: 20px;font-weight: 700;line-height: 108px;margin:0px;}
	.data-shop .data-list .data-box p.setcolor{color: #FF0000;}
	.data-shop .data-list .data-box p.resetlh{line-height: 68px;}
	.data-shop .data-list .data-box h4.resetbor{border:none;border-top:1px solid #909090;font-size: 14px;letter-spacing: 0;color: #000;}
	.data-list .shopnumber-list{padding:0 10px;background-color: #F7F7F7;width: 192px;}
	.data-list .shopnumber-list ul{margin-bottom: 0px;margin-top: 0px;}
	.data-list .shopnumber-list ul li span{display: inline-block;width: 90px;text-align: right;font-size: 14px;}
	.data-list .shopnumber-list ul li{height: 50px;line-height: 50px;border-bottom: 1px dashed #C6C6C6;}
	.data-list .shopnumber-list ul li.noborder{border:none;}
	.shop-chart h3{font-size: 18px;font-weight: 700;font-family: "黑体";margin-bottom: 10px;margin-top: 0px;}
	.shop-chart{margin-bottom: 30px;}
	.echarts-map{height:340px;border:1px solid #ccc;}
	.shopdatatable-left,.shopdatatable-right{width: 460px;border:1px solid #ccc;}
	.shopdatatable table{margin-bottom: 0;}
	.shopdatatable caption{position:relative; height: 48px;line-height: 48px;font-size: 20px;font-family: "黑体";font-weight: 700;text-indent: 20px;color: #000;border-bottom: 1px solid #ccc;background-color: #F2F8FC;}
	.shopdatatable caption p{position:absolute;right:10px; top:0;font-weight:normal;}
	.shopdatatable caption p span{margin-left:10px;font-size:14px;cursor:pointer;}
	.shopdatatable caption p span.active{color:red;}
	.shopdatatable{margin-bottom: 40px;}
	table {width: 100%; rule:none;}
	table thead tr{background: #F2F8FC;}
	.table-bordered>thead>tr>th {border-bottom: none;}
	table th {padding: 8px;color: #000;}
	table td {padding: 8px;color: #000;}
	tbody {background: #fff}
	.active{margin-top: 0px;margin-bottom: 0px;color:red;font-size:12px;}
    a {color:#3366CC;}
	.dianpu{color:#000;}
//中部结束






	.new-todo,
	.edit {
		position: relative;
		margin: 0;
		width: 100%;
		font-size: 18px;
		font-family: inherit;
		font-weight: inherit;
		line-height: 1.4em;
		border: 0;
		color: inherit;
		padding: 6px;
		border: 1px solid #999;
		box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.new-todo {
		padding: 10px 16px 16px 60px;
		border: none;
		background: rgba(0, 0, 0, 0.003);
		box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
	}
	.main {
		position: relative;
		z-index: 2;
		border-top: 1px solid #e6e6e6;
	}
	.toggle-all {
		text-align: center;
		border: none;
		/* Mobile Safari */
		opacity: 0;
		position: absolute;
	}
	.toggle-all+label {
		width: 60px;
		height: 34px;
		font-size: 0;
		position: absolute;
		top: -52px;
		left: -13px;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.toggle-all+label:before {
		content: '❯';
		font-size: 22px;
		color: #e6e6e6;
		padding: 10px 27px 10px 27px;
	}
	.toggle-all:checked+label:before {
		color: #737373;
	}
	.todo-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.todo-list li {
		position: relative;
		font-size: 24px;
		border-bottom: 1px solid #ededed;
	}
	.todo-list li:last-child {
		border-bottom: none;
	}
	.todo-list li.editing {
		border-bottom: none;
		padding: 0;
	}
	.todo-list li.editing .edit {
		display: block;
		width: 506px;
		padding: 12px 16px;
		margin: 0 0 0 43px;
	}
	.todo-list li.editing .view {
		display: none;
	}
	.todo-list li .toggle {
		text-align: center;
		width: 40px;
		/* auto, since non-WebKit browsers doesn't support input styling */
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
		border: none;
		/* Mobile Safari */
		-webkit-appearance: none;
		appearance: none;
	}
	.todo-list li .toggle {
		opacity: 0;
	}
	.todo-list li .toggle+label {
		/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
		background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
		background-repeat: no-repeat;
		background-position: center left;
		background-size: 36px;
	}
	.todo-list li .toggle:checked+label {
		background-size: 36px;
		background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
	}
	.todo-list li label {
		word-break: break-all;
		padding: 15px 15px 15px 50px;
		display: block;
		line-height: 1.0;
		    font-size: 14px;
		transition: color 0.4s;
	}
	.todo-list li.completed label {
		color: #d9d9d9;
		text-decoration: line-through;
	}
	.todo-list li .destroy {
		display: none;
		position: absolute;
		top: 0;
		right: 10px;
		bottom: 0;
		width: 40px;
		height: 40px;
		margin: auto 0;
		font-size: 30px;
		color: #cc9a9a;
		transition: color 0.2s ease-out;
	}
	.todo-list li .destroy:hover {
		color: #af5b5e;
	}
	.todo-list li .destroy:after {
		content: '×';
	}
	.todo-list li:hover .destroy {
		display: block;
	}
	.todo-list li .edit {
		display: none;
	}
	.todo-list li.editing:last-child {
		margin-bottom: -1px;
	}
	.footer {
		color: #777;
		position: relative;
		padding: 10px 15px;
		height: 40px;
		text-align: center;
		border-top: 1px solid #e6e6e6;
	}
	.footer:before {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 50px;
		overflow: hidden;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
	}
	.todo-count {
		float: left;
		text-align: left;
	}
	.todo-count strong {
		font-weight: 300;
	}
	.filters {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.filters li {
		display: inline;
	}
	.filters li a {
		color: inherit;
		font-size: 12px;
		padding: 3px 7px;
		text-decoration: none;
		border: 1px solid transparent;
		border-radius: 3px;
	}
	.filters li a:hover {
		border-color: rgba(175, 47, 47, 0.1);
	}
	.filters li a.selected {
		border-color: rgba(175, 47, 47, 0.2);
	}
	.clear-completed,
	html .clear-completed:active {
		float: right;
		position: relative;
		line-height: 20px;
		text-decoration: none;
		cursor: pointer;
	}
	.clear-completed:hover {
		text-decoration: underline;
	}
	.info {
		margin: 65px auto 0;
		color: #bfbfbf;
		font-size: 10px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		text-align: center;
	}
	.info p {
		line-height: 1;
	}
	.info a {
		color: inherit;
		text-decoration: none;
		font-weight: 400;
	}
	.info a:hover {
		text-decoration: underline;
	}
// 	.app {float:left;}
// .app-inner {padding-left: 20px;background-color:#fff}
// .sidebar {width:148px;float:left;margin-left: -100%;}
// .page-header{margin: 0 0 20px 0;}
// .page-header h2{margin: 0;color: #777;font-size: 20px;}
// .form-horizontal .control-label {padding-top: 7px;padding-right: 0; margin-bottom: 0;text-align: right;}
// .form-horizontal .control-label.resetSize,.control-label.resetSize,label.resetSize{padding-top: 3px;}
// .checkbox.rsertRadio label{height: auto;min-height: 0;}
// .checkbox.rsertRadio label input{margin: -2px 0 0 0;vertical-align: middle;}
// .form-group .shop-logo img{vertical-align: bottom;}
// .modal-dialog {margin: 120px auto 30px auto;}
// .ui-header {box-shadow:3px 3px 3px rgba(0,0,0,.2);background-color: #2B3643;}
// .ui-header-inner {width:1260px;position:relative;padding-right:120px;padding-left: 230px;margin:0 auto;}
// .ui-header-logo {position:absolute;top:0px;left:6px;margin:0;padding-top:10px;width: 210px;height:54px;font-weight:normal;text-align:left;overflow:hidden;line-height:0;}
// .ui-header-logo>a {display:block;width:100%;height:43px;font-size:0px;text-decoration:none;vertical-align:middle;color:#fff;}
// .ui-header-logo .version {display:none;position:absolute;width:24px;height:16px;top:29px;left:94px;color:#fff;line-height:16px;text-align:center;background:#cacfd1;border-radius:2px}
// .ui-header-logo .version i {display:block;line-height:16px;font-size:12px;font-style:normal;-webkit-transform:scale(0.92, 0.92)}
	/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.toggle-all,
		.todo-list li .toggle {
			background: none;
		}
		.todo-list li .toggle {
			height: 40px;
		}
	}
	@media (max-width: 430px) {
		.footer {
			height: 50px;
		}
		.filters {
			bottom: 10px;
		}
	}
}
